* {
  box-sizing: border-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  /*max-width: 300px;*/
  font-family: arial;
  margin: auto;
}

.card .contain {
  padding: 0 16px;
  min-height: 120px;
}

.card .contain::after {
  content: "";
  clear: both;
  display: table;
}

.card .title {
  color: grey;
  font-size: 18px;
}
.gender{
  margin-top: 15px;
  margin-bottom:15px;
  display: inline-flex;
}

.card button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.card:hover{
      transform: translateY(-5px);
    transition: all 0.3s;
}
.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}
.card button:hover, a:hover {
  opacity: 0.7;
}
.top{
  margin-top: 90px;
}
.topmargin{
  margin-top: 30px;
}
.propic{
  position: relative;
}
.price{
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: white;
    background: black;
    border-radius: 15px;
    padding: 3px;
}
.margin-bottom{
  margin-bottom: 20px;
}
.filter{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 600px) {
  .top{
  margin-top: 60px;
}
}




label{
  margin-bottom: 11px;
}
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: black;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.borderless td, .borderless th,.borderless tr {
    border: none!important;
}
.borderless{
  margin-bottom: 15px!important;
}
#slider-range{
  margin:0 10px;
}
.pslider {
   color: #0000;
}

.ui-slider {
   border: 0;
   text-align: left;
   background: rgba(0, 0, 0, .2);
}

.ui-slider .ui-slider-handle {
   width: 10px;
   height: 20px;
   border-radius: 30%;
   background: white;
   border: 7px solid black;
   outline: none;
}

.ui-slider .ui-slider-range {
   font-size: .7em;
   border: 0;
   background: rgba(0, 0, 0, 0.5);
}