body {
  background: white;
  font-size: 10pt;
  color: #666;

}

#date_menu {
  border-radius: 25px;

  position: absolute;
  top: 100px;
  left: 50%;

  clear: both;
  width: 300px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
#date_menu ::-moz-selection {
  background: transparent;
}
#date_menu ::selection {

  background: transparent;
}
#date_menu .drop {
  position: relative;
  float: left;
  height: 30px;
  background: #fff;
}
#date_menu .drop .title {
  cursor: pointer;
  clear: both;
  height: 30px;
  border-right: 1px solid #ebebeb;
  display: block;
  transition: background 150ms ease;
  font-weight: 600;
  line-height: 30px;
  text-indent: 10px;  border-radius: 25px;
}
#date_menu .drop .title:hover {
  background: #white;
}
#date_menu .drop .title i {
  float: right;
  width: 30px;
  height: 30px;
  color: #3366dd;
  text-align: center;
  line-height: 30px;
  text-indent: 0;
}
#date_menu .drop ul {
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  max-height: 181px;
  border: 1px solid #ebebeb;
  border-left: 0;
  border-bottom: 0;
  background: #fff;
  overflow: auto;
  border-radius: 15px;
}
#date_menu .drop ul::-webkit-scrollbar {
  display: none;

}
#date_menu .drop ul.closed {
  display: none;
  border-radius: 25px;
}
#date_menu .drop ul li {
  border-radius: 25px;

  cursor: pointer;
  height: 30px;
  transition: all 150ms ease;
  text-indent: 10px;
  line-height: 30px;
}
#date_menu .drop ul li:hover {
  background: #000;
  color: #fff;
}
#date_menu .drop.month {
    border-radius: 25px;
border: 1.5px solid black;
  width: 150px;
}
#date_menu .drop.day {
    border-radius: 25px;
    border: 1.5px solid black;
  width: 75px;
}
#date_menu .drop.year {
    border-radius: 25px;

    border: 1.5px solid black;
  width: 75px;
}
#date_menu .drop.year .title {
  border: 0;
}
#date_menu .drop.year ul {
  border-right: 0;
}
